<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.useCase/useCaseDsl/UseCaseDsl"
			class = "useCase.xtext.useCaseDsl.useCaseDsl.UseCaseDslPackage"
			genModel = "model/generated/UseCaseDsl.genmodel" />
	</extension>
</plugin>
